<div class="container content-offset">
  <h1>Welcome to {{ OPAL_BRAND_NAME }}</h1>
  <h2>An example application</h2>
  <div class="row content-offset">
    <div class="col-md-8">
      <p>
        Staggered features Opal Episodes with several stages, which
        they move backwards and forwards between in a linear fashion.
      </p>
      <p>
        We do this by using custom save() methods for
        Opal Pathways, some custom Patient Lists and a custom
        Patient Detail Template.
      </p>
      <p>
        The code for this example application is available for your
        reference on <a href="https://github.com/davidmiller/staggered">Github</a>.
      </p>
      <p>
        To start, <a href="/pathway/#/add-patient">add a patient</a>.
      </p>
    </div>
  </div>
</div>
